



#mobile-menu{
    display: none;
}

#mobile-menu.open{
    display: block;
}

#mobile-menu.closed{
    display: none;
}

#imagen-portada{
    max-width: 100%;
    height: auto;
}

@media only screen and(max-width:452px){
    #imagen-portada{
        display: none;
    }

}